::selection { background:#ff70cd; color: black; }
::-moz-selection { background:#ff70cd; color: black;}

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

html {
    background-color: #282828;
    overflow-x: hidden;
}

.App {
    min-height: 100vh;
    background-color: #282828;
    /* padding-top: 20px; */
    font-family: "Open Sans", Impact;
}

.Login {
    margin-top: 10vh;
}

.header {
    background-color: #5a5a5a;
}

.FlashMessage {
    max-height: 63px;
}

.content-container {
    background-color: #acacac;
    min-height: 85vh;
    width: 85vw;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.6);
    position: relative;
}

.dashboard-icon {
    margin-right: 5px;
    font-size: 13px;
}

.track {
    border-radius: 10px;
    background-color: inherit;
    color: black;
    transition: 0.1s;
    margin-bottom: 10px;
    font-size: 12px;
    margin-left: 0px;
    margin-right: 0px;
}

.track:hover {
    background-color: #616060;
    color: ghostwhite;
    opacity: 1;
}

.replace-button {
    cursor: grab;
    font-size: 16px;
    animation: spin 300ms;
    transform: rotate(180deg);
}

.playlist-titles {
    background-color: #a5a5a5;
    color: black;
    font-size: 14px;
    margin-left: 0px;
    margin-right: 0px;
    border-top: 1px solid slategray;
    border-bottom: 1px solid slategray;
}

.panel {
    margin-bottom: 0px;
}

.generate-message {
    margin: 0px;
    font-size: 12px;
}
