::selection { background:#ff70cd; color: black; }
::-moz-selection { background:#ff70cd; color: black;}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

html {
    background-color: white;
}

.App {
    height: 100vh;
    background-color: #616060;
    padding-top: 20px;
}

.Login {
    margin-top: 10vh;
}

.Playlist {
    /* width: 600px; */
}

.dashboard-container {
    background-color: #acacac;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.6);
    color: black;
}

.dashboard-container a {
    text-decoration: none;
    color: black;
}

.content-container {
    background-color: #acacac;
    height: 85vh;
    width: 80vw;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.6);
}

.dashboard-icon {
    margin-right: 5px;
    font-size: 13px;
}

.track {
    border-radius: 5px;
    background-color: inherit;
    color: black;
    transition: 0.1s;
    margin-bottom: 1vw;
    font-size: 12px;
    margin-left: 0px;
    margin-right: 0px;
}

.track:hover {
    background-color: #616060;
    color: ghostwhite;
    opacity: 1;
}

.replace-button {
    cursor: grab;
    font-size: 18px;
    animation: spin 300ms;
    transform: rotate(180deg);
}

.panel-tracklist {
    
}
